{% extends 'base.html' %}

{% block content %}
  <h1>photo</h1>

  <div class="row">
    {% for photo in object_list %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{% url 'app:photo_detail' photo.pk %}">
            <img src="{{ photo.image.url }}" alt="">
          </a>
          <div class="caption">
            <h3>{{ photo.title }}</h3>
            <p>{{ photo.description }}</p>
            <p>{{ photo.created_at|date }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <a href="{% url 'app:photo_upload' %}">Upload Photo</a>
{% endblock content %}