{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">我的文章</h2>
    <table class="table table-bordered table-striped ">
      <thead>
        <tr>
          <th>#</th>
          <th>标题</th>
          <th>浏览量</th>
            <th>点赞数</th>
          <th>发布时间</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a></td>
          <td>{{ article.total_views }}</td>
            <td>{{ article.likes }}</td>
          <td>{{ article.created }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">暂无文章。</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}